force-app/main/default/flows/Agent_Case_Flow_Title_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>title change approval for employees who started less than 60 days ago</description>
        <name>Title_Change_Approval</name>
        <label>Title Change Approval</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Employee_Title_Change_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>case.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Case_Closed_In_Subflow</name>
        <label>Case Closed?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Case_Closed_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Error)</defaultConnectorLabel>
        <rules>
            <name>Case_Closed_In_Subflow_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>error</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closed_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hire_Date</name>
        <label>Hire Date</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hire_Date_Geater_Than_60_Days_Ago</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>days_since_hire</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Case_2</targetReference>
            </connector>
            <label>Start Date &gt; 60 Days</label>
        </rules>
        <rules>
            <name>Hire_Date_Less_Than_60_Days_Ago_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>days_since_hire</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Case_1</targetReference>
            </connector>
            <label>Start Date &lt; 60 Days</label>
        </rules>
    </decisions>
    <formulas>
        <name>days_since_hire</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDate} - {!employeeAccount.Hire_Date__pc}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>sixty_days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 60</expression>
    </formulas>
    <interviewLabel>Agent Case Flow - Title Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Case Flow - Title Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Case_Closed_0</name>
        <label>Case Closed</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayText2_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Case Closed&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Case #: {!case.CaseNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Employee: {!employeeAccount.Name}&lt;/p&gt;&lt;p&gt;New Title: {!case.Employee_New_Title__c}&lt;/p&gt;&lt;p&gt;Effective Date: {!case.New_Title_Effective_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Closed_0_0</name>
        <label>Case Closed</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayText2_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Error Updating Title&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!error}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Case #: {!case.CaseNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Employee: {!employeeAccount.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Num. Days Since Hire: {!days_since_hire}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Current Title: {!case.Employee_Current_Title__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;New Title: {!case.Employee_New_Title__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Effective Date: {!case.New_Title_Effective_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Case_1</name>
        <label>Review Case</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Title_Change_Approval</targetReference>
        </connector>
        <fields>
            <name>submit_for_approval</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Employee Start Date &amp;lt; 60 Days&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Case will be submitted to the employee&apos;s manager for approval&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Case #: {!case.CaseNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Employee: {!employeeAccount.Name}&lt;/p&gt;&lt;p&gt;Employee ID: {!employeeAccount.Employee_ID__c}&lt;/p&gt;&lt;p&gt;Employee Hire Date: {!employeeAccount.Hire_Date__pc}&lt;/p&gt;&lt;p&gt;Num. Days Since Hire: {!days_since_hire}&lt;/p&gt;&lt;p&gt;Employee&apos;s Manager: {!employeeAccountManager.Full_Name__pc}&lt;/p&gt;&lt;p&gt;Manager User: {!managerUser.Username}&lt;/p&gt;&lt;p&gt;Current Title: {!case.Employee_Current_Title__c}&lt;/p&gt;&lt;p&gt;New Title: {!case.Employee_New_Title__c}&lt;/p&gt;&lt;p&gt;Effective Date: {!case.New_Title_Effective_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Case_2</name>
        <label>Review Case</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employee_Title_Change</targetReference>
        </connector>
        <fields>
            <name>displayText2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Employee Start Date &amp;gt; 60 Days&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Case is auto-approved and title will be updated&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Case #: {!case.CaseNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Employee: {!employeeAccount.Name}&lt;/p&gt;&lt;p&gt;Employee ID: {!employeeAccount.Employee_ID__c}&lt;/p&gt;&lt;p&gt;Employee Hire Date: {!employeeAccount.Hire_Date__pc}&lt;/p&gt;&lt;p&gt;Num. Days Since Hire: {!days_since_hire}&lt;/p&gt;&lt;p&gt;Current Title: {!case.Employee_Current_Title__c}&lt;/p&gt;&lt;p&gt;New Title: {!case.Employee_New_Title__c}&lt;/p&gt;&lt;p&gt;Effective Date: {!case.New_Title_Effective_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Approval_Init</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Case_Approval_Init</name>
        <label>Case Approval Init</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Hire_Date</targetReference>
        </connector>
        <flowName>Case_Approval_Init</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>case</assignToReference>
            <name>case</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>employeeAccount</assignToReference>
            <name>employeeAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>employeeAccountManager</assignToReference>
            <name>employeeAccountManager</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>managerUser</assignToReference>
            <name>managerUser</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Employee_Title_Change</name>
        <label>Employee Title Change</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Case_Closed_In_Subflow</targetReference>
        </connector>
        <flowName>Employee_Title_Change</flowName>
        <inputAssignments>
            <name>case</name>
            <value>
                <elementReference>case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>employeeAccount</name>
            <value>
                <elementReference>employeeAccount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>error</assignToReference>
            <name>systemErrorMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>employeeAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>employeeAccountManager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>managerUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
