force-app/main/default/flows/Case_Approval_Init.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Manager_User_On_Case</name>
        <label>Manager User On Case?</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Employee_Manager_User_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Manager_User_On_Case_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>case.Employee_Manager_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>days_since_hire</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDate} - {!sixty_days}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>sixty_days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 60</expression>
    </formulas>
    <interviewLabel>Case Approval Init {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Approval Init</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Employee_Manager_User__c</queriedFields>
        <queriedFields>Employee_Current_Title__c</queriedFields>
        <queriedFields>Employee_New_Title__c</queriedFields>
        <queriedFields>New_Title_Effective_Date__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Account</name>
        <label>Get Employee Account</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manager_Employee_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>employeeAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Manager__c</queriedFields>
        <queriedFields>Hire_Date__pc</queriedFields>
        <queriedFields>Full_Name__pc</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Employee_ID__c</queriedFields>
        <queriedFields>Employee_ID__pc</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager_Employee_Account</name>
        <label>Get Manager Employee Account</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manager_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>employeeAccount.Manager__r.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>employeeAccountManager</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Full_Name__pc</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager_User</name>
        <label>Get Manager User</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manager_User_On_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>employeeAccountManager.Name</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>managerUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Username</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Employee_Manager_User_0</name>
        <label>Update Case Employee Manager User</label>
        <locationX>308</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Employee_Manager_User__c</field>
            <value>
                <elementReference>managerUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>employeeAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>employeeAccountManager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>managerUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
