force-app/main/default/flows/Employee_Title_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Employee_Account_0</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Employee title updated in Workday</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>case.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>System_Error_Msg</name>
        <label>System Error Msg</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>systemErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Workday Employee Title Change Error: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>systemErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Initialized</name>
        <label>Initialized?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Case_Approval_Init</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Initialized_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>case.Employee_New_Title__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>case.New_Title_Effective_Date__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>employeeAccount.Employee_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Workday_Employee_Title_Change</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Workday_Updated</name>
        <label>Workday Updated?</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>System_Error_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Error)</defaultConnectorLabel>
        <rules>
            <name>Workday_Updated_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>successMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Title Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Title Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Status__c</field>
            <value>
                <stringValue>Employee Title Changed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Follow-up Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Error__c</field>
            <value>
                <elementReference>systemErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Status__c</field>
            <value>
                <stringValue>Workday Employee Title Change Error</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Employee_Account_0</name>
        <label>Update Employee Account</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Update_Employee_User_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>employeeAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonTitle</field>
            <value>
                <elementReference>case.Employee_New_Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Employee_User_0</name>
        <label>Update Employee User</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Close_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>employeeAccount.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>case.Employee_New_Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialized</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Case_Approval_Init</name>
        <label>Case Approval Init</label>
        <locationX>270</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Workday_Employee_Title_Change</targetReference>
        </connector>
        <flowName>Case_Approval_Init</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>case.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>case</assignToReference>
            <name>case</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>employeeAccount</assignToReference>
            <name>employeeAccount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Workday_Employee_Title_Change</name>
        <label>Workday Employee Title Change</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Workday_Updated</targetReference>
        </connector>
        <flowName>Workday_Employee_Title_Change</flowName>
        <inputAssignments>
            <name>employeeID</name>
            <value>
                <elementReference>employeeAccount.Employee_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newTitle</name>
            <value>
                <elementReference>case.Employee_New_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newTitleEffectiveDate</name>
            <value>
                <elementReference>case.New_Title_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>successMessage</assignToReference>
            <name>successMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>defaultException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>employeeAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>successMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>systemErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
