force-app/main/default/flows/Workday_Employee_Title_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>API_Workday_Title_Change</name>
        <label>API: Workday Title Change</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>WorkdayTitleChange.postChange-title</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Workday_Updated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Default_Error_Msg_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>client_id</name>
            <value>
                <elementReference>clientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_secret</name>
            <value>
                <elementReference>clientSecret</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>generated</name>
            <value>
                <elementReference>titleChangeRequest</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>successResponse</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>validationErrorResponse</assignToReference>
            <name>500Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>defaultException</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Default_Error_Msg</name>
        <label>Error Msg</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultException</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Default_Error_Msg_0</name>
        <label>Error Msg</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Title_Change_Request</name>
        <label>Set Title Change Request</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>titleChangeRequest.employeeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>employeeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>titleChangeRequest.businessTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>titleChangeRequest.effectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>effectiveDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>API_Workday_Title_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Success_Msg</name>
        <label>Success Msg</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>successMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>successResponse.message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Validation_Error_Msg</name>
        <label>Error Msg</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>validationErrorResponse.error.message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Workday_Updated</name>
        <label>Workday Updated?</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Default_Error_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Error)</defaultConnectorLabel>
        <rules>
            <name>Workday_Updated_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>successResponse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Msg</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Workday_Updated_No_Validation_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>validationErrorResponse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Error_Msg</targetReference>
            </connector>
            <label>No (Validation Error)</label>
        </rules>
    </decisions>
    <formulas>
        <name>effectiveDate</name>
        <dataType>String</dataType>
        <expression>TEXT( YEAR( {!newTitleEffectiveDate} ) ) &amp; &quot;-&quot; &amp; TEXT( MONTH( {!newTitleEffectiveDate} ) ) &amp; &quot;-&quot; &amp; TEXT( DAY( {!newTitleEffectiveDate} ) )</expression>
    </formulas>
    <interviewLabel>Workday Employee Title Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Workday Employee Title Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Title_Change_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>3031bf38be584facad08e9cb02650a85</stringValue>
        </value>
    </variables>
    <variables>
        <name>clientSecret</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>14d3fCF31C2749a1A1f462c27488f115</stringValue>
        </value>
    </variables>
    <variables>
        <name>defaultException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>employeeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>36047</stringValue>
        </value>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Developer</stringValue>
        </value>
    </variables>
    <variables>
        <name>newTitleEffectiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2020-10-31</dateValue>
        </value>
    </variables>
    <variables>
        <name>successMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>successResponse</name>
        <apexClass>ExternalService__WorkdayTitleChange_typex5f1</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>titleChangeRequest</name>
        <apexClass>ExternalService__WorkdayTitleChange_z0type</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationErrorResponse</name>
        <apexClass>ExternalService__WorkdayTitleChange_typex5f2</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
